footer {
    width: 100%;
    border-top: 1px solid #eae9e9;
    margin-top: 4rem;
    padding: 2rem 0;
    font-size: 0.875rem;
    color: #eae9e9;

    justify-items: center;
}

footer .footer-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

footer nav {
    display: flex;
    gap: 1.5rem;
}

footer nav a {
    color: #eae9e9;
    text-decoration: none;
    transition: color 0.2s ease;
}

footer nav a:hover {
    color: #000;
}

footer p {
    color: #eae9e9;
}