.progress-floating {
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 100;
}

.progress-circle {
    width: 70px;
    height: 70px;
}

.progress-circle svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}


.progress-bg {
    fill: none;
    stroke: rgba(247, 241, 217, 0.25);
    stroke-width: 4;
}


.progress-bar {
    fill: none;
    stroke: #8a8883;
    stroke-width: 4;
    stroke-linecap: round;
    transition: stroke-dasharray 0.4s ease;
}


.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F7F1D9;
    font-size: 0.78rem;
    font-weight: 700;
}
